name: Tests

on:
  pull_request:
  push:

jobs:
  integration-testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0

      - name: Setup Node version
        uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - name: Install dependencies
        run: npm ci
        working-directory: ./tests/integration/

      - name: Install current version of plugin
        run: npm link ../../
        working-directory: ./tests/integration/

      - name: Run cypress
        run: npx cypress run
        working-directory: ./tests/integration/
        env:
          SAUCE_USERNAME: ${{secrets.SAUCE_USERNAME}}
          SAUCE_ACCESS_KEY: ${{secrets.SAUCE_ACCESS_KEY}}
